
.phone-screen{
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    border-radius: .8rem;
    padding: .4rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--white-color);
    text-shadow: 0.1rem 0rem var(--white-color);
}

.phone-screen .col1{
    grid-area: col1;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    color: var(--white-color);
    font-size: 1.5rem;
    transform: translateY(-2rem);
}
.phone-screen .col1 .wifi{
    margin: 0rem 1rem;
}
.col2{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    color: var(--white-color);
    opacity: 0;
}
.col2 .day{
    font-size: 3rem;
}
.input-search{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-27rem);
}
.input-search input{
    width: 18rem;
    height: 3.3rem;
    border: none;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--primary-color);
    position: relative;
    z-index: 2;
    letter-spacing: .025rem;
    color: rgb(56, 53, 53);
    font-size: 1.4rem;
}
.input-search input:focus{
    outline: none;
}
.input-search .search-icon{
    position: relative;
    z-index: 2;
    padding: 0.5rem;
    background: var(--white-color);
    color: var(--primary-color);
    font-size: 2rem;
    margin-left: 0.3rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--primary-color);
    cursor: pointer;
}
.phone-screen .col3{
    margin-top: -6rem;
}
.phone-screen .col3 img{
    width: 100%;
    animation: cloud-anim 1s infinite alternate ease-in-out;
}
.col4{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}
.col4 .temperature{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    font-size: 2.2rem;
    color: var(--white-color);
    align-items: baseline;
    margin-bottom: 2rem;
    opacity: 0;
}

.col4 .temperature p:first-child{
    font-size: 3rem;
}
.col4 .temp-info{
    display: flex;
    margin-top: 1rem;
    transform: translateX(-17rem);
}
.col4 .searchCity{
    font-size: 3rem;
    padding: 1rem;
    color: white;
}
.col4 .temp-info .humidity,
.col4 .temp-info .wind{
    padding: 1rem;
    border-radius: 0.2rem;
    background: var(--white-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: .5rem;
    box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--primary-color);
}

// animations class
.translateX{
    transform: translateX(0rem) !important;
    animation: translate-x-anim 1s ease-out;
}
.col1-translate{
    transform: translateY(0rem) !important;
    animation: col1-anim 1s ease-out;
}
.opacity-full{
    transition:1s;
    opacity: 1!important;
}
// animations
@keyframes cloud-anim{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(20px);
    }
}
@keyframes col1-anim{
    from{
        transform: translateY(-2rem);
    }
    to{
        transform: translateY(0rem);
    }
}
@keyframes translate-x-anim {
    from{
        transform: translateX(-27rem);
    }
    to{
        transform: translateX(0rem); 
    }
}

// mediaquery
@media screen and (max-width:1920px) {
    html{
        font-size: 82.5%;
    }
}
@media screen and (max-width:1400px) {
    html{
        font-size: 62.5%;
    }
}