@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --white-color:rgb(255, 255, 255);
  --primary-color:rgb(6, 181, 204);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #80e1ee;
  font-family: 'Raleway', sans-serif;
}

.phone-btns {
  width: 1rem;
  position: absolute;
  top: 3.5rem;
  left: -0.4rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'power-btn' 'volume-up' 'volume-down';
  gap: 1rem;
}

.power-btn,
.volum-up,
.volume-down {
  width: 1rem;
  background: white;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.power-btn {
  height: 2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: power-btn;
}

.volum-up {
  height: 4rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: volume-up;
  margin-top: 1rem;
}

.volume-down {
  height: 4rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: volume-down;
}

.phone-screen {
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  border-radius: .8rem;
  padding: .4rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--white-color);
          box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--white-color);
  text-shadow: 0.1rem 0rem var(--white-color);
}

.phone-screen .col1 {
  grid-area: col1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1rem;
  color: var(--white-color);
  font-size: 1.5rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.phone-screen .col1 .wifi {
  margin: 0rem 1rem;
}

.col2 {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1rem;
  color: var(--white-color);
  opacity: 0;
}

.col2 .day {
  font-size: 3rem;
}

.input-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-27rem);
          transform: translateX(-27rem);
  position: relative;
  z-index: 3;
}

.input-search input {
  width: 23rem;
  height: 3.3rem;
  border: none;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--primary-color);
  position: relative;
  z-index: 5;
  letter-spacing: .025rem;
  color: #383535;
  font-size: 1.4rem;
}

.input-search input:focus {
  outline: none;
}

.input-search .search-icon {
  position: relative;
  z-index: 2;
  padding: 0.5rem;
  background: var(--white-color);
  color: var(--primary-color);
  font-size: 2rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--primary-color);
  cursor: pointer;
}

.phone-screen .col3 {
  margin-top: -6rem;
  position: relative;
  z-index: 1;
}

.phone-screen .col3 img {
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-animation: cloud-anim 1s infinite alternate ease-in-out;
          animation: cloud-anim 1s infinite alternate ease-in-out;
}

.col4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.col4 .temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1rem;
  font-size: 2.2rem;
  color: var(--white-color);
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 2rem;
  opacity: 0;
}

.col4 .temperature p:first-child {
  font-size: 3rem;
}

.col4 .temp-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-transform: translateX(-17rem);
          transform: translateX(-17rem);
}

.col4 .searchCity {
  font-size: 3rem;
  padding: 1rem;
  color: white;
}

.col4 .temp-info .humidity,
.col4 .temp-info .wind {
  padding: 1rem;
  border-radius: 0.2rem;
  background: var(--white-color);
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: .5rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem var(--primary-color);
}

.translateX {
  -webkit-transform: translateX(0rem) !important;
          transform: translateX(0rem) !important;
  -webkit-animation: translate-x-anim 1s ease-out;
          animation: translate-x-anim 1s ease-out;
}

.col1-translate {
  -webkit-transform: translateY(0rem) !important;
          transform: translateY(0rem) !important;
  -webkit-animation: col1-anim 1s ease-out;
          animation: col1-anim 1s ease-out;
}

.opacity-full {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1 !important;
}

@-webkit-keyframes cloud-anim {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes cloud-anim {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes col1-anim {
  from {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes col1-anim {
  from {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  to {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes translate-x-anim {
  from {
    -webkit-transform: translateX(-27rem);
            transform: translateX(-27rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes translate-x-anim {
  from {
    -webkit-transform: translateX(-27rem);
            transform: translateX(-27rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 82.5%;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}

.main-wrapper {
  max-width: 1300px;
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background-color: white;
  width: 30rem;
  height: 55rem;
  border-radius: .8rem;
  position: relative;
  padding: 1.2rem .8rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem #1573aa;
          box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem #1573aa;
}
/*# sourceMappingURL=main.css.map */