.phone-screen{
    // background-color: rgb(63, 172, 235);
    background-color: rgb(63, 172, 235);
    height: 100%;
    width: 100%;
    border-radius: .8rem;
    padding: .4rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem white;
    // box-shadow: 0.1rem 0.1rem 1.1rem 0.1rem rgb(21, 115, 170);
}

.phone-screen .col1{
    grid-area: col1;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    color: white;
    font-size: 1.5rem;
}
.phone-screen .col1 .wifi{
    margin: 0rem 1rem;
}
.col2{
    // border: 1px solid;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    color: white;
}
.col2 .day{
    font-size: 3rem;
}
.input-search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-search input{
    height: 3.3rem;
    border: none;
    /* border-bottom: 1px solid; */
    padding: 0rem 1rem;
    border-radius: 0.5rem;
}
.input-search .search-icon{
    padding: 0.5rem;
    background: white;
    color: rgb(19, 139, 209);
    font-size: 2rem;
    margin-left: 0.3rem;
    border-radius: 0.5rem;
}
.phone-screen .col3{
    margin-top: -6rem;
}
.phone-screen .col3 img{
    width: 100%;
}
.col4{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
}
.col4 .temperature{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    font-size: 2.2rem;
    color: white;
    align-items: baseline;
    margin-bottom: 2rem;
}
.col4 .temperature .unit{
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
}
.col4 .temperature p:first-child{
    font-size: 3rem;
}
.col4 .temp-info{
    display: flex;
    margin-top: 1rem;
}
.deg{
    font-size: 1.4rem;
    position: absolute;
    right: 2rem;
}

.col4 .temp-info .humidity,
.col4 .temp-info .wind{
    padding: 1rem;
    border-radius: 0.2rem;
    background: white;
    color: rgb(19, 139, 209);
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: .5rem;
}
