*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color:rgb(255, 255, 255);
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(63, 172, 235);
}
.main-wrapper{
    max-width: 1300px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: white;
    width: 30%;
    height: 70%;
    border-radius: 1rem;
    position: relative;
}
.phone-btns{
    width: 1rem;
    position: absolute;
    top: 3.5rem;
    left: -0.4rem;
    display: grid;
    grid-template-areas:
        'power-btn'
        'volume-up'
        'volume-down';
    gap: 1rem;
}
.power-btn,
.volum-up,
.volume-down{
    width: 1rem;
    background: white;
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.power-btn{
    height: 2rem;
    grid-area: power-btn;
}
.volum-up{
    height: 4rem;
    grid-area: volume-up;
    margin-top: 1rem;
}
.volume-down{
    height: 4rem;
    grid-area: volume-down;
}